{% extends "base.html" %} {% block content %}
<link rel="stylesheet" href="../static/css/content.css">
<div class="row" style="text-align:center;">
  <div class ="col-lg-6">
    <h1>Original Files</h1>
  </div>
  <div class ="col-lg-6">
    <h1>Analysed Files</h1>
  </div>

</div>
<textarea class="textBox" id="sec1" disabled> {{ text }} </textarea>
<textarea class="textBox" id="sec2" disabled> {{ text }} </textarea>
<div class="row" style="text-align:center;">
  <div class ="col-lg-6">
    <h1>Original Files</h1>
  </div>
  <div class ="col-lg-6">
    <h1>Analyse Files</h1>
  </div>

</div>


<textarea class="textBox" id="sec3" disabled> {{ text }} </textarea>
<textarea class="textBox" id="sec4" disabled> {{ text }} </textarea> {% endblock %}