{% extends "base.html" %} {% block content %}

<link rel="stylesheet" href="../static/css/content.css">

<body class="w3-container w3-padding-32" id="projects" style="background-color:#dcedf5;">
    <div class="row" style="text-align:center;">
        <div class="col-lg-6">
            <h1>Original Contract</h1>
        </div>
        <div class="col-lg-6">
            <h1>Attack Contract</h1>
            {% set url = "?type=attack&filename=" + filename %}
            <a href="/download{{ url }}">Download</a>
        </div>
    </div>
    <textarea class="textBox" id="sec1" disabled> {{ original }} </textarea>
    <textarea class="textBox" id="sec2" disabled> {{ attack}} </textarea>

    <div class="row" style="text-align:center;">
        <div class="col-lg-6">
            <h1>Analysis Contract</h1>
            {% set url = "?type=analysis&filename=" + filename %}
            <a href="/download{{ url }}">Download</a>
        </div>
        <div class="col-lg-6">
            <h1>Dependency</h1>
            {% set url = "?type=dependency&filename=" + filename %}
            <a href="/download{{ url }}">Download</a>
        </div>
       
    </div>
   
    <textarea class="textBox" id="sec4" disabled> {{ analysis }} </textarea>
    <textarea class="textBox" id="sec3" disabled> {{ dependency}} </textarea>

    <div class="row" style="text-align:center;">
        <div class="col-lg-6">
            <h1>Functional Summary</h1>
            {% set url = "?type=function_summary&filename=" + filename %}
            <a href="/download{{ url }}">Download</a>
        </div>
        <div class="col-lg-6">
            <h1>Summary</h1>
            {% set url = "?type=summary&filename=" + filename %}
            <a href="/download{{ url }}">Download</a>
        </div>
    </div>
    <textarea class="textBox" id="sec3" disabled> {{ function}} </textarea>
    <textarea class="textBox" id="sec4" disabled> {{ summary1 }} </textarea>
    {% endblock %}
