{% extends "base.html" %}

{% block title %}Ether Attack{% endblock %}

{% block content %}
<main class="container">
    <div class="bg-light p-5 rounded">
        <h1>Welcome to EtherAttack</h1>
        <p class="lead">EtherAttack analyse and identify these vulnerabilities and provide an alternative smart contract that exploits identified vulnerabilities.</p>
        <a class="btn btn-lg btn-primary" href="../components/navbar/" role="button">View navbar docs &raquo;</a>
        <!-- test button -->
        <a class="btn btn-lg btn-primary" href="/dashboard" role="button">Dashboard</a>
    </div>
</main>
{% endblock %}