html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

.textBox {
    float: left;
    border: solid 1px;
    overflow-y: scroll;
    padding: 50px;
}

#sec3,
#sec1 {
    width: 50%;
    height: 35%;
}

#sec4,
#sec2 {
    width: 50%;
    height: 35%;
}

