html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

.textBox {
    float: left;
    border: solid 1px;
    overflow-y: scroll;
    padding: 50px;
    resize: none;
    background-color: white;
}

#sec1, #sec2, #sec3, #sec4, #sec5, #sec6 {
    width: 50%;
    height: 35%;
}

.w3-container {
    padding: 0px;
}